* {
  /* outline: 1px dashed green; */
  font-family: "Montserrat", serif;
}

:root {
  --main-color: #872341;
  --secondary-color: #be3144;
  --third-color: #09122c;
  --quaternary-color: #4e5360;
  --text-color: #f5efe7;
}

#body {
  min-height: 100vh;
  background-color: #ddd;
}

#display {
  max-width: 800px;
}

#block {
  margin-top: 100px;
}

#nav {
  background-color: var(--main-color);
}

#nav ul li a {
  color: var(--text-color);
}

.hotel-div {
  max-width: 800px;
}

.hidden {
  display: none;
}

.error-msg {
  color: red;
  display: none;
}

#footer {
  /* position: fixed; */
  bottom: 0;
  width: 100%;
  color: var(--quaternary-color);
  background-color: var(--secondary-color);
  padding: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fixed-height {
  min-height: 1.5em;
}
